

<form action = "/wizard_add"> 

  <h1>New addition</h1>

  <label for="input_one">Add this:</label>
  <input id="input_one" name="addone">
  <label for="input_two">to this:</label>
  <input id="input_two" name="addtwo">
  <button>Add!</button>

</form>
