
<form action = "/wizard_divide"> 

  <h1>New division</h1>

  <label for="input_one">Divide this:</label>
  <input id="input_one" name="divideone">
  <label for="input_two">by this:</label>
  <input id="input_two" name="dividetwo">
  <button>Divide!</button>

</form>
