
<form action = "/wizard_multiply"> 

  <h1>New multiplication</h1>

  <label for="input_one">Multiply this:</label>
  <input id="input_one" name="multiplyone">
  <label for="input_two">by this:</label>
  <input id="input_two" name="multiplytwo">
  <button>Multiply!</button>

</form>
