
<form action = "/wizard_sub"> 

  <h1>New subtraction</h1>

  <label for="input_one">Subtract this:</label>
  <input id="input_one" name="subtractone">
  <label for="input_two">from this:</label>
  <input id="input_two" name="subtracttwo">
  <button>Subtract!</button>

</form>
